.topbar_container {
	position: sticky;
	z-index: 1;
	top: -20px;
	height: 100px;
	width: 100%;
	background-color: var(--color-primary);
	transition: all 0.3s linear;
	box-sizing: border-box;
}
.topbar_container::before,
.topbar_container::after {
	content: '';
	display: block;
	height: 20px;
	width: 100%;
	position: sticky;
	-webkit-position: sticky;
	transition: all 0.3s linear;
}

.topbar_container::before {
	top: 60px;
	box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.5);
	transition: all 0.3s linear;
}
.topbar_container::after {
	background: var(--color-primary);
	transition: background 0.3s linear;
	top: 0;
	z-index: 2;
}
.topbar_content {
	height: 80px;
	width: 100%;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
	-webkit-position: sticky;
	top: 0px;
	margin-top: -20px;
	z-index: 3;
}
.custom_btn {
	width: 90px;
	height: 40px;
	padding: 10px 25px;
	border: 2px solid var(--color-accent);
	font-family: 'Ubuntu Mono', monospace;
	font-size: 13.5px;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.custom_btn span {
	text-align: center;
	color: var(--color-primary);
}

.main_buttons {
	background: var(--color-buttons);
	color: var(--color-primary);
	transition: 0.3s linear all;
	line-height: 42px;
	padding: 0;
	border: none;
}
.main_buttons span {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.main_buttons:before,
.main_buttons:after {
	position: absolute;
	content: '';
	height: 0%;
	width: 2px;
	background: var(--color-accent);
}
.main_buttons:before {
	right: 0;
	top: 0;
	transition: all 500ms ease;
}
.main_buttons:after {
	left: 0;
	bottom: 0;
	transition: all 500ms ease;
}
.main_buttons:hover {
	background: transparent;
}
.main_buttons:hover .title {
	color: var(--color-accent);
}
.main_buttons:hover:before {
	transition: all 500ms ease;
	height: 100%;
}
.main_buttons:hover:after {
	transition: all 500ms ease;
	height: 100%;
}
.main_buttons span:before,
.main_buttons span:after {
	position: absolute;
	content: '';
	background: var(--color-accent);
}
.main_buttons span:before {
	left: 0;
	top: 0;
	width: 0%;
	height: 2px;
	transition: all 500ms ease;
}
.main_buttons span:after {
	right: 0;
	bottom: 0;
	width: 0%;
	height: 2px;
	transition: all 500ms ease;
}
.main_buttons span:hover:before {
	width: 100%;
}
.main_buttons span:hover:after {
	width: 100%;
}
.app_title {
	margin: 0;
	color: var(--color-accent);
	cursor: pointer;
	text-decoration: none;
	height: fit-content;
	height: 45px;
	display: flex;
	align-items: center;
	transition: all 0.3s linear;
	margin-left: 60px;
}
.app_title_text {
	font-size: 30px;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

.burger_container {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin-right: 60px;
}

@media all and (min-width: 0px) and (max-width: 768px) {
	.app_title_text {
		font-size: 20px;
	}
	.app_title {
		margin-left: 30px;
	}
	.switches {
		margin-right: 30px;
	}
}
