.sort_container {
  position: absolute;
  z-index: 10;
  top: 115px;
  right: 32%;
  transform: translateX(32%);
}

.main_buttons_icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12%;
	width: 15%;
}

