.search_sort_container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	width: 100%;
	height: 80px;
	margin-top: 100px;
}
.circular_container {
	display: flex;
	width: 100vw;
	height: 65vh;
	justify-content: center;
	align-items: center;
}
@media all and (min-width: 0px) and (max-width: 768px) {
	.search_sort_container {
		margin-top: 40px;
		gap: 20px;
	}
}
