.upload_link {
	position: relative;
	width: fit-content;
	left: 75vh;
	z-index: 0;
	bottom: 73.535vh;
}

.upload_btn {
	height: 50px !important;
	width: 50px !important;
	border: 2px solid var(--color-buttons) !important;
	background-color: var(--color-buttons) !important;
	line-height: 42px;
	transition: 0.3s linear all !important;
	padding: 0 !important;
	color: var(--color-primary);
}
.upload_btn:hover {
	color: var(--color-accent);
	background-color: var(--color-primary);
}

.redirect_link {
	text-align: center;
	text-decoration: var(--color-accent) solid underline;
}
.redirect_link:active {
	text-decoration: var(--color-accent) solid underline;
}
.redirect_link:focus {
	text-decoration: var(--color-accent) solid underline;
}
@media all and (min-width: 0px) and (max-width: 768px) {
	.upload_link {
		bottom: -5px;
		left: 85%;
	}
}
