.no_schemas_container {
  display: flex;
  justify-content: center;
  align-items: center;
	width: fit-content;
  height: 40vh;
	margin: 0 auto;
  text-align: center;
}

.no_schemas_text {
	color: var(--color-accent);
  border: none;
	font-size: 2em;
}

@media all and (min-width: 0px) and (max-width: 768px) {
  .no_schemas_text {
    font-size: 1.4em;
  }
}
