.markdown_container {
	color: var(--color-accent);
	height: 100%;
	width: 85%;
	margin: 150px auto;
	font-family: 'Roboto Mono';
	font-size: 16px;
	transition: all 0.3s linear;
}

.markdown_container > h1 {
	font-size: 4.5em;
	margin: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--color-accent);
}
.markdown_container > h2 {
	font-size: 3em;
}
.markdown_container > h3 {
	font-size: 2em;
}
.markdown_container > h4 {
	font-size: 1em;
}
@media all and (min-width: 0px) and (max-width: 768px) {
	.markdown_container {
		margin-top: 70px;
	}
}
