.login .registration {
  width: 100%;
  height: 100%;
}
.auth-form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.auth-input-container {
  position: relative;
  width: 400px;
  height: 50px;
  margin-top: 10px;
}
.auth-input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  color: var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  font-family: "Ubuntu Mono", monospace;
  font-size: 20px;
}
.auth-input:focus ~ .auth-label {
  top: 0px;
  left: 0px;
  font-size: 10px;
}
.auth-input-container:hover ~ .auth-label {
  top: 0px;
  left: 0px;
  font-size: 10px;
}

.auth-label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 10px;
  color: var(--color-side-text);
  pointer-events: none;
  transition: all 300ms ease;
}
.auth-input::placeholder {
  color: transparent;
}
.auth-input:placeholder-shown ~ .auth-label {
  font-size: 2em;
  font-size: 16px;
  top: 16px;
  left: 4px;
}
.auth-title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--color-accent);
}
.auth-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.auth-redirect-link {
  text-align: center;
  text-decoration: var(--color-accent) solid underline;
}
.auth-redirect-link:active {
  text-decoration: var(--color-accent) solid underline;
}
.auth-redirect-link:focus {
  text-decoration: var(--color-accent) solid underline;
}
#sign_up,
#sign_in {
  margin-bottom: 15px;
  width: 150px;
  height: 40px;
}
#redirect {
  color: var(--color-accent);
  font-size: 12px;
}
