.undo {
	width: 40px !important;
	padding: 0 !important;
	height: 40px !important;
	border: 2px solid var(--color-buttons) !important;
	background-color: var(--color-buttons) !important;
	transition: 0.3s linear all !important;
	color: var(--color-primary) !important;
}
.undo > span {
	display: flex;
	justify-content: center;
	align-items: center;
}
.undo:hover {
	background-color: var(--color-primary) !important;
}
.undo:hover:enabled > span {
	color: var(--color-accent);
}
.undo:disabled,
.undo[disabled] {
	background-color: var(--color-buttons);
	opacity: 0.7;
}
