.app-title {
  position: absolute;
  font-family: monospace;
  margin: 0;
  top: 25px;
  left: 80px;
  color: var(--color-accent);
  cursor: pointer;
}

.switches {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 30px;
  right: 80px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

#switch {
  background-color: var(--color-primary);
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#switch::after {
  content: var(--switch-content);
  color: var(--color-accent);
  font-size: 25px;
  margin: 0 auto;
}

#switch_lang {
  background-color: var(--color-primary);
  text-align: center;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

#switch_lang::after {
  content: var(--lang-switch-content);
  color: var(--color-accent);
  font-size: 15px;
  margin: 0 auto;
}

.app-get-back {
  position: absolute;
  fill: var(--color-accent);
  display: block;
  width: 35px;
  margin: 0;
  top: 30px;
  left: 50px;
  cursor: pointer;
  transition: 0.1s linear all;
}
