table {
  background-color: transparent;
  border-spacing: 0;
  font-family: monospace;
  width: 100%;
  height: 100%;
}

#gridContainer {
  padding-bottom: 10px;
  width: 73vh;
  height: 73vh;
  margin: auto auto;
}
tbody {
  display: grid;
  width: 100%;
  height: 100%;
}
tr {
  display: grid;
  grid-template-columns: repeat(55, 1fr);
}
.gridMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

td {
  border: 0.7px solid var(--color-accent);
  border-radius: 0.2vw;
  cursor: crosshair;
}
p {
  font-weight: 500;
  text-align: center;
  font-size: 15px;
  color: var(--color-side-text);
}

td.empty {
  background-color: transparent;
}

td.conductor {
  background-color: var(--color-conductor);
}

td.head {
  background-color: var(--color-head);
}
td.tail {
  background-color: var(--color-tail);
}
.cross-res {
  width: fit-content;
  margin: 5px;
}
.input-resolution {
  background-color: transparent;
  color: var(--color-accent);
  font-family: monospace;
  font-size: 15px;
  border: none;
  width: 17px;
  margin: 5px;
  text-align: center;
}
.container-res {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}

.inc-buttons {
  margin: 0;
  font-family: monospace;
  font-size: 8px;
  background-color: transparent;
  color: var(--color-accent);
  border: none;
  text-align: center;
  padding: 0;
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.inc-buttons:hover {
  font-size: 10px;
}
.inc-container {
  margin: 0;
  display: flex;
  flex-direction: column;
}
.cross-res {
  font-family: monospace;
}
