.controls {
  width: fit-content;
	margin: 20px auto;
	margin-bottom: 0;
	padding-bottom: 20px;
	display: flex;
  gap: 40px;
}
.controls_wrapper {
  margin: 0 auto;
}
.controls_upload {
	width: fit-content;
	margin: auto auto;
	margin-top: 50px;
	margin-bottom: 20px;
	display: flex;
	gap: 30px;
}

.rate_schema_container {
	width: fit-content;
	display: flex;
	gap: 10px;
	text-align: center;
}
.rate_schema_label {
	color: var(--color-accent);
	text-align: left;
	padding-top: 3px;
	width: 60px;
}
.rate_schema_select {
	width: 160px;
	background-color: var(--color-buttons);
	color: var(--color-primary);
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
	padding-left: 10px;
	border: none;
}
.rate_schema_select:hover {
	background-color: transparent;
	color: var(--color-accent);
	padding-left: 8px;
	border: 2px solid var(--color-accent);
}
.main_buttons_icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 12%;
	width: 15%;
}
