.rating-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-right: 20%;
  margin-bottom: 10px;
}

.stars-outer {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-outer::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 2.2em;
  color: var(--color-empty-star);
}

.stars-inner::before {
  content: "\2605 \2605 \2605 \2605 \2605";
  font-size: 2.2em;
  color: var(--color-filled-star);
}

.stars-number {
  padding-top: 8px;
  text-align: center;
  color: var(--color-accent);
}
