.theme-light {
  --color-primary: white;
  --color-accent: black;
  --color-primary-hue: rgb(235, 234, 234);
  --color-buttons: black;
  --switch-content: "\263C";
  --color-side-text: #676767;
  --color-conductor: #f9f348;
  --color-head: #6248f9;
  --color-tail: #f9485a;
}
.theme-dark {
  --color-primary: rgb(49, 47, 47);
  --color-accent: rgb(252, 240, 240);
  --color-primary-hue: rgb(30, 30, 30);
  --color-buttons: rgba(231, 223, 223, 0.9);
  --switch-content: "\263E";
  --color-side-text: #9d9c9c;
  --color-conductor: #e0c134;
  --color-head: #4d38c4;
  --color-tail: #b93542;
}

body {
  padding: 0;
  font-family: monospace;
  background-color: var(--color-primary);
  transition: 0.3s linear all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 45px;
  min-height: 90vh;
  -webkit-tap-highlight-color: transparent;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}